<h2 style="text-align: center;">Book List</h2>
<div class="row">
  <div class="col-sm rounded" *ngFor="let book of books | async">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">Year of Publish: {{book.yearOfPublish}}</p>
        <p class="card-text">Genre: {{book.genre}}</p>
        <p class="card-text">Publisher: {{book.publisher}}</p>
        <h6 class="card-subtitle">Author</h6>
        <ol class="card-title"  *ngFor="let author of book.authors"><li style="color:blue">{{author.authorName}}</li></ol>
        <p class="card-subtitle">BDT{{book.price}}</p>
        <div class="card-footer">
          <a routerLink="UpdateBook/{{book.id}}" class="btn btn-outline-success card-link">Update</a>

          <a (click)="deleteBook(book.id)" class="btn btn-danger card-link">Delete</a>
        </div>

      </div>
    </div>

  </div>

</div>

