<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Book List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>YearOfPublish</th>
        <th>author</th>
        <th>genre</th>
        <th>publisher</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books | async">
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.price}}</td>
        <td>{{book.yearOfPublish}}</td>
        <td><ol *ngFor="let author of book.authors">
          <li>{{author.authorName}}</li>
        </ol></td>
        <td>{{book.genre}}</td>
        <td>{{book.publisher}}</td>
        <td><button (click)="deleteBook(book.id)" class="btn btn-danger">Delete</button></td>
        <td><a class="btn btn-primary" routerLink="UpdateBook/{{book.id}}" routerLinkActive="active" >Update</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

